*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header{
    max-width: 1200px;
    margin: auto;
    background-color: #F15A24;
    color: aliceblue;
}

.oferta-header{
    display: flex;
    padding: 1rem 1rem;
    justify-content: space-between;
}

nav{
    max-width: 1280px;
    margin: auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-logo img{
    max-width: 150px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;

}

.links a{
    color: #F15A24;
    position: relative;
    padding-bottom: 0.75rem;
    transition: all 0.3s ease;
}

.links a:hover{
  font-weight: 600;
    color: #603813;
}

.pesquisa{
  max-width: 1200px;
  margin: auto;
}

.catalogo-nav{
  max-width: 1200px;
  margin: auto;
  display: flex;
  list-style: none;
padding: 15px 15px 15px 15px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  background-color: #F15A24;
}

.catalogo-nav a{
  color: #fff;
  align-items: center;
  transition: all 0.3s ease;
}

.catalogo-nav a:hover{
  color: #cccccc;

}

body{
    max-width: 1200px;
    margin: auto;
}

.banner img{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.pesquisas{
    padding: 30px;
}

.search-container{
  
    width: 400px;
  }
  
  input#search-bar{
    margin: auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;

   }
  .search-icon{
    position: relative;
    width: 23px;
    height: 23px;
    top: -34px;
    right: 10px;
  }

  .btn-pesquisa{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: #F15A24;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .titulo{
    padding: 10px 0px 10px 0px;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url(img/Prancheta\ 1.png);
  }
  
  .titulo span{
    color: #603813;
}

.catálogos{
  display: flex;
  padding: 20px 0;
  justify-content: center;
  
}

.catálogos h3{
  align-items: center;
  padding: 20px;
  
}

.catálogos h3 a{
  color: #F15A24;
  transition: all 0.3s ease;
}

span{
  color: #603813;
}

.chocolates h2{
  font-size: large;
  font-weight: 300;
}

.catálogos h3 a:hover{
color: #603813;
}

.chocolates{
  font-size: large;
  padding: 4rem 1rem;
  color: #F15A24;
}


.separation{
  background-color: #F15A24;
  background-image: url(img/Prancheta\ 1.png);
}
.shop-content{
  max-width: 1200px;
  padding: 0px 2px 80px 20px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px, auto));
  gap: 1.5rem;
}

.shop-content img{
  width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.product-box{
  position: relative;
}

.product-box:hover{
  padding: 10px;
  border: 1px solid #000000;
  transition: 0.4s;
}

.product-shop{
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.nome{
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.preco{
  font-weight: 500;
}

.add-cart{
  position: absolute;
  bottom: 0;
  right: 0;
  background: #F15A24;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.add-cart:hover{
  background-color: #eca186;
}

#foater_content{
  background-color: #e9e9e9;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 0.30fr);
  padding: 3rem 3.5rem;
}

#foater_content{
  color: #383838;
}

#contacts img{
  display: grid;
  width: 100%;
  padding: 0px 53px 0px 0px;
}

#foater_contents{
  margin-bottom: 0.75rem;
}

.foater-list{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
  padding: 0px 0px 0px 60px;
}

.foater-list .foater-link{
  color: #F15A24;
  transition: all 0.3s ease;
}

.foater-list .foater-link:hover{
  color: #603813;
}


@media(max-width:768px) {

  *{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header{
    max-width: 1280px;
    margin: auto;
    background-color: #F15A24;
    color: aliceblue;
}

.oferta-header{
    display: flex;
    font-size: 8px;
    padding: 0.50rem 0.50rem;
    justify-content: space-between;
}

nav{
    max-width: 1280px;
    margin: auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-logo img{
  max-width: 100%;
    width: 150px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;

}

.links a{
    color: #F15A24;
    position: relative;
    padding-bottom: 0.75rem;
    transition: all 0.3s ease;
}

.links a:hover{
  font-weight: 600;
    color: #603813;
}

.pesquisa{
  max-width: 1200px;
  margin: auto;
}

.catalogo-nav{
  max-width: 1200px;
  margin: auto;
  display: flex;
  list-style: none;
padding: 15px 15px 15px 15px;
font-size: 13px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  background-color: #F15A24;
}

.catalogo-nav a{
  color: #fff;
  align-items: center;
  transition: all 0.3s ease;
}

.catalogo-nav a:hover{
  color: #cccccc;

}

body{
    max-width: 1200px;
    margin: auto;
}

.banner img{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.pesquisas{
    padding: 30px;
}

.search-container{
  
    width: 400px;
  }
  
  input#search-bar{
    margin: auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;

   }
  .search-icon{
    position: relative;
    width: 23px;
    height: 23px;
    top: -34px;
    right: 10px;
  }

  .btn-pesquisa{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: #F15A24;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .titulo{
    padding: 10px 0px 10px 0px;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url(img/Prancheta\ 1.png);
  }
  
  .titulo span{
    color: #603813;
}

.catálogos{
  display: flex;
  padding: 20px 0;
  justify-content: center;
  
}

.catálogos h3{
  align-items: center;
  padding: 20px;
  
}

.catálogos h3 a{
  color: #F15A24;
  transition: all 0.3s ease;
}

span{
  color: #603813;
}

.chocolates h2{
  font-size: large;
  font-weight: 300;
}

.catálogos h3 a:hover{
color: #603813;
}

.chocolates{
  font-size: large;
  padding: 4rem 1rem;
  color: #F15A24;
}


.separation{
  background-color: #F15A24;
  background-image: url(img/Prancheta\ 1.png);
}
.shop-content{
  max-width: 1200px;
  padding: 0px 2px 80px 20px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px, auto));
  gap: 1.5rem;
}

.shop-content img{
  width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.product-box{
  position: relative;
}

.product-box:hover{
  padding: 10px;
  border: 1px solid #000000;
  transition: 0.4s;
}

.product-shop{
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.nome{
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.preco{
  font-weight: 500;
}

.add-cart{
  position: absolute;
  bottom: 0;
  right: 0;
  background: #F15A24;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.add-cart:hover{
  background-color: #eca186;
}

#foater_content{
  background-color: #e9e9e9;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 0.30fr);
  padding: 3rem 3.5rem;
}

#foater_content{
  color: #383838;
}

#contacts img{
  display: grid;
  width: 100%;
  padding: 0px 53px 0px 0px;
}

#foater_contents{
  margin-bottom: 0.75rem;
}

.foater-list{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
  padding: 0px 0px 0px 60px;
}

.foater-list .foater-link{
  color: #F15A24;
  transition: all 0.3s ease;
}

.foater-list .foater-link:hover{
  color: #603813;
}
}

@media(max-width:425px){
  *{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header{
    max-width: 425px;
    margin: auto;
    background-color: #F15A24;
    color: aliceblue;
}

.oferta-header{
    display: flex;
    font-size: 8px;
    justify-content: space-between;
}

nav{
    max-width: 425px;
    margin: auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-logo img{
  max-width: 100%;
    width: 80px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 10px;

}

.links a{
    color: #F15A24;
    position: relative;
    padding-bottom: 0.75rem;
    transition: all 0.3s ease;
}

.links a:hover{
  font-weight: 600;
    color: #603813;
}

.pesquisa{
  max-width: 425px;
  margin: auto;
}

.catalogo-nav{
  max-width: 425px;
  margin: auto;
  display: flex;
  list-style: none;
  padding: 15px;
  font-size: 8px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  background-color: #F15A24;
}

.catalogo-nav a{
  color: #fff;
  align-items: center;
  transition: all 0.3s ease;
}

.catalogo-nav a:hover{
  color: #cccccc;

}

body{
    max-width: 1200px;
    margin: auto;
}

.banner img{
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
    justify-content: center;
}

.pesquisas{
    padding: 30px;
}

.search-container{
  
    width: 400px;
  }
  
  input#search-bar{
    margin: auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;

   }
  .search-icon{
    position: relative;
    width: 23px;
    height: 23px;
    top: -34px;
    right: 10px;
  }

  .btn-pesquisa{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: #F15A24;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .titulo{
    padding: 10px 0px 10px 0px;
    font-size: 8px;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url(img/Prancheta\ 1.png);
  }
  
  .titulo span{
    color: #603813;
}

.catálogos{
  display: flex;
  padding: 0px 0;
  justify-content: center;
  font-size: 9px;
}

.catálogos h3{
  align-items: center;
  padding: 20px;
  
}

.catálogos h3 a{
  color: #F15A24;
  transition: all 0.3s ease;
}

span{
  color: #603813;
}

.chocolates h2{
  font-size: 13px;
  font-weight: 300;
}

.catálogos h3 a:hover{
color: #603813;
}

.chocolates{
  font-size: large;
  padding: 4rem 1rem;
  color: #F15A24;
}


.separation{
  background-color: #F15A24;
  background-image: url(img/Prancheta\ 1.png);
}
.shop-content{
  max-width: 1200px;
  padding: 0px 2px 80px 20px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px, auto));
  gap: 1.5rem;
}

.shop-content img{
  width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.product-box{
  position: relative;
}

.product-box:hover{
  padding: 10px;
  border: 1px solid #000000;
  transition: 0.4s;
}

.product-shop{
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.nome{
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.preco{
  font-weight: 500;
}

.add-cart{
  position: absolute;
  bottom: 0;
  right: 0;
  background: #F15A24;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.add-cart:hover{
  background-color: #eca186;
}

footer{
  max-width: 425px;
  padding: 0px 190px 0px 0px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px, auto));
}

#foater_content{
  color: #383838;
}

#foater_contents{
  margin-bottom: 0.75rem;
}

.foater-list .foater-link{
  color: #F15A24;
  transition: all 0.3s ease;
}

.foater-list .foater-link:hover{
  color: #603813;
}
}
